<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AirlineManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetailsServlet</display-name>
    <servlet-name>CustomerDetailsServlet</servlet-name>
    <servlet-class>controller.CustomerDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailsServlet</servlet-name>
    <url-pattern>/CustomerDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManagementServlet</display-name>
    <servlet-name>CustomerManagementServlet</servlet-name>
    <servlet-class>controller.CustomerManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManagementServlet</servlet-name>
    <url-pattern>/CustomerManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDetailsServlet</display-name>
    <servlet-name>StaffDetailsServlet</servlet-name>
    <servlet-class>controller.StaffDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDetailsServlet</servlet-name>
    <url-pattern>/StaffDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightServlet</display-name>
    <servlet-name>AddFlightServlet</servlet-name>
    <servlet-class>controller.AddFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightServlet</servlet-name>
    <url-pattern>/addFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleFlightServlet</display-name>
    <servlet-name>ScheduleFlightServlet</servlet-name>
    <servlet-class>controller.ScheduleFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleFlightServlet</servlet-name>
    <url-pattern>/scheduleFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlightServlet</display-name>
    <servlet-name>BookFlightServlet</servlet-name>
    <servlet-class>controller.BookFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlightServlet</servlet-name>
    <url-pattern>/bookflight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingServlet</display-name>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>controller.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/cancelbooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserBooking</display-name>
    <servlet-name>GetUserBooking</servlet-name>
    <servlet-class>controller.GetUserBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserBooking</servlet-name>
    <url-pattern>/getUserBookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFlightServlet</display-name>
    <servlet-name>UpdateFlightServlet</servlet-name>
    <servlet-class>controller.UpdateFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFlightServlet</servlet-name>
    <url-pattern>/UpdateFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightDetailsServlet</display-name>
    <servlet-name>FlightDetailsServlet</servlet-name>
    <servlet-class>controller.FlightDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightDetailsServlet</servlet-name>
    <url-pattern>/FlightDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffManagementServlet</display-name>
    <servlet-name>StaffManagementServlet</servlet-name>
    <servlet-class>controller.StaffManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffManagementServlet</servlet-name>
    <url-pattern>/StaffManagementServlet</url-pattern>
  </servlet-mapping>
</web-app>